{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "sed -i \"s/^version:.*/version: ${nextRelease.version}/\" Chart.yaml && helm package . -d dist"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          "dist/*.tgz"
        ],
        "releaseNameTemplate": "kube-prometheus-stack v${nextRelease.version}"
      }
    ]
  ]
}